h1 {
  color : blue;
  text-align: center;
}
p {
  color : red;
}

/*div {
  font-family : Arial, sans-serif;
  font-size: 10px;
  font-weight: bold;
  background-color: teal;
  width: 500px;
  height : 100px;
  margin : 30px;
  padding: 20px;
  border : 3px solid blue;
}
*/
table {
  border : 2px solid black;
  border-collapse: collapse;
  width : 50%;
}
th {
  background-color: lightgrey;
}

td {
  text-align: center;
}

th,td {
  border : 1px solid black;
  padding : 5px;
}

#top {
  font-size: 30px;
}

#middle {
  font-size: 26px;
}

#bottom {
  font-size: 20px;
}

.name {
  font-weight: bold;
}
